.course-page {
  border: 1px solid $gallery;
  border-radius: 5px;
  overflow: hidden;

  > .imgblock {
    position: relative;

    > .img {
      width: 100%;
    }

    > .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin: 0;
    }
  }

  > .body {
    padding: $base-number * 3;
  }
}