.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  background-color: $white;
  padding: {
    top: ($base-number * 5);
    bottom: ($base-number * 5);
  }
  box-shadow: 0 0.25rem 0.125rem 0 rgba($black, 0.05);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .logosearch {
      display: flex;
      align-items: center;

      > .logo {
        width: 200px;
        margin: 0 ($base-number * 8) 0 0;

        > img {
          width: 100%;
        }
      }
    }

    > .nav {
      > .link {
        font: {
          size: 20px;
          weight: 600;
        }
        line-height: 1;
        color: $trout;
        text-decoration: none;

        &:hover,
        &:focus {
          opacity: 0.8;
          outline: none;
        }
      }
    }
  }
}
